footer.footer.divider__mountain--top
    .footer__logo
        //-img(src='#' alt='Casa Coji logo')
        svg
            use(xlink:href='img/sprite.svg#icon-mountain')
    .footer__contact 
        <b>Contact</b>
        p xxxx-xxxx-xxxx
        p xxxx-xxxx-xxxx
        p casa_coji@gmail.com