nav#nav-closed
    .nav__menu-lang ES | IN
    .nav__btn
        svg.nav__icon
            use(xlink:href='img/svg/sprite.svg#icon-mountain')
nav#nav-open.nav__hide
    .nav__close
        .nav__btn
            svg.nav__icon
                use(xlink:href='img/svg/sprite.svg#icon-mountain')
    .nav__icon--large
        img(src='/img/landscape-with-mountains.png')
    .nav__list.divider__mountain--bottom
        .nav__list-item
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-speech-bubble') 
            h4 Spanish | English
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-home') 
            h4 Home
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-bed') 
            h4 Rooms
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-restaurant') 
            h4 Food
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-camping') 
            h4 Camping
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-climbing') 
            h4 Courses
        .nav__list-item
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-carabiner') 
            h4 Equipment
        .nav__list-item
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-telephone') 
            h4 Contact


