nav#nav-closed
    .nav__menu-lang ES | IN
    .nav__btn
        svg.nav__icon
            use(xlink:href='img/svg/sprite.svg#icon-mountain')
nav#nav-open.nav__hide
    .nav__logo Casa Coji
    .nav__close
        .nav__btn
            svg.nav__icon.nav__icon--open
                use(xlink:href='img/svg/sprite.svg#icon-mountain')
    .nav__icon--large
        img(src='/img/landscape-with-mountains.png')
    .nav__list.divider__mountain--bottom
        .nav__list-item
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-speech-bubble') 
            h4 Spanish | English
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-home') 
            h4 <a href='/'>Home</a>
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-bed') 
            h4 <a href='/rooms'>Rooms</a>
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-restaurant') 
            h4 <a href='/food'>Food</a>
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-camping') 
            h4 <a href='/camping'>Camping</a>
        .nav__list-item 
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-climbing') 
            h4 <a href='/courses'>Courses</a>
        .nav__list-item
            svg.nav__menu-icon
                use(xlink:href='img/svg/sprite.svg#icon-carabiner') 
            h4 <a href='/equipment'>Equipment</a>
        .nav__list-item
            svg.nav__menu-icon.nav__menu-icon--contact
                use(xlink:href='img/svg/sprite.svg#icon-telephone')
            .nav__list-item--contact
                h4 Contact
                p.nav__list-item--whatsapp <a href='https://wa.me/593992859691'>+593-992-859-691</a>
                p.nav__list-item--email <a href='mailto:casa_coji@gmail.com'>casa_coji@gmail.com</a>