extends base

block content
    .climbing
        .hero.divider__mountain--bottom
            .hero__title Climbing
            .hero__img
                img(src='/img/climbing_placeholder_2.jpeg')
        .hero__about.divider__mountain
            h2.hero__about-title Climbing in Cojitambo
            h3.hero__about-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate amet nobis esse modi. Nihil sint praesentium ipsum consequatur id, similique consequuntur minima! Mollitia, aut? Velit ab aspernatur suscipit quidem qui?
        main.climbing__main
            .climbing__sectors.divider__mountain
                .climbing__temporary Image of sectors here
                img(src='/img/casa_coji_main.jpeg')
            .climbing__routes 
                .climbing__routes-title Sport Routes
                .climbing__intro Cojitambo has a vast range of sport routes....blah blah
                .climbing__grade
                    h2.climbing__route-quantity.climbing__route-quantity--intermediate 85
                    h3.climbing__level <em>Intermediate</em> <br> 6a - 6c+ / 5.9 - 5.11b
                .climbing__grade 
                    h2.climbing__route-quantity.climbing__route-quantity--advanced 70
                    h3.climbing__level <em>Advanced</em> <br> 7a - 7c+ / 5.11c - 5.13a
            .climbing__routes
                .climbing__routes-title Trad Routes
                .climbing__intro Cojitambo has a vast range of traditional routes....blah blah
                .climbing__grade.climbing__grade--trad
                    h2.climbing__route-quantity ???
                    h3.climbing__level ???
