extends base

block content
    .equipment
        .hero.divider__mountain--bottom
            .hero__title Equipment
            .hero__img
                img(src='img/equipment_placeholder.jpg')
        .hero__about.divider__mountain
            h2.hero__about-title Rent Equipment
            h3.hero__about-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate amet nobis esse modi. Nihil sint praesentium ipsum consequatur id, similique consequuntur minima! Mollitia, aut? Velit ab aspernatur suscipit quidem qui?
        main.equipment__main
            .equipment__items
                each item in equipment
                    .equipment__item
                        .equipment__item-info
                            .equipment__item-name= item.name
                            .equipment__item-price= `$${item.price}`
                        img(src=`/img/${item.imageCover}`)