extends base

block content
    .home
        .home__overview.divider__mountain--bottom
            .hero__title Casa Coji
            #hero-slider.splide
                .splide__track
                    .splide__list
                        .splide__slide
                            img(src='/img/coji_placeholder_1.jpeg')
                        .splide__slide
                            img(src='/img/casa_coji_main.jpeg')
                        .splide__slide
                            img(src='/img/casa_coji_main_2.jpeg')
                        .splide__slide
                            img(src='/img/casa_coji_main_3.jpeg')
                        .splide__slide
                            img(src='/img/casa_coji_view_1.jpeg')
                        .splide__slide
                            img(src='/img/casa_coji_kitchen_night.jpeg')
        .home__about.divider__mountain
            h2.home__about-title Welcome!
            h3.home__about-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate amet nobis esse modi. Nihil sint praesentium ipsum consequatur id, similique consequuntur minima! Mollitia, aut? Velit ab aspernatur suscipit quidem qui? 
        main
            .home__section.home__rooms.divider__mountain
                .home__section-title Stay
                .home__section-details
                    em From $5 / night
                a#rooms-info.btn.home__section-btn(href='/accommodation') View Accommodation   
            .home__section.home__food.divider__mountain 
                .home__section-title Restaurant
                .home__section-details 
                    em $3 half - $5 full plate
                a#food-info.btn.home__section-btn(href='/restaurant') View Restaurant
            .home__section.home__climbing.divider__mountain 
                .home__section-title Climbing
                .home__section-details 
                    em in Cojitambo
                a#climbing-info.btn.home__section-btn(href='/climbing') View Climbing
            .home__section.home__activities.divider__mountain 
                .home__section-title Courses /<br> Activities
                .home__section-details 
                    em Trails / Biking / Yoga + more!
                a#activities-info.btn.home__section-btn(href='/activities') View Courses & Activities
            .home__section.home__equipment.divider__mountain 
                .home__section-title Equipment
                .home__section-details 
                    em Rent equipment from $xxx / day
                a#equipment-info.btn.home__section-btn(href='/equipment') View Equipment
            .home__section.home__combos.divider__mountain 
                .home__section-title Combos
                .home__section-details 
                    em We have a range of combos to suit your needs!
                a#combos-info.btn.home__section-btn(href='/combos') View Combos
        .home__merge