*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fff; }

body {
  font-family: sans-serif; }

.wrapper {
  display: grid;
  grid-template-columns: [full-start] minmax(15rem, 1fr) [center-start] repeat(9, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(15rem, 1fr) [full-end]; }
