@keyframes flicker-in {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes slide-in-br {
  0% {
    transform: translateY(1000px) translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1; } }

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out; }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out; }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in; }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: blanchedalmond; }

body {
  font-family: sans-serif; }

.btn {
  font-family: "Thasadith", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #000;
  color: blanchedalmond;
  border-radius: 2rem;
  border: 1px solid blanchedalmond; }
  .btn:focus {
    outline: none; }

.whatsapp {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  animation: slide-in-br 2s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .whatsapp img {
    max-width: 100%;
    max-height: 100%;
    animation: heartbeat 1.5s 1.5s ease-in-out 5 both; }

.divider__mountain {
  clip-path: polygon(0 3.5%, 2% 3%, 7.5% 3.5%, 8% 3.7%, 8.5% 4%, 11.5% 3.1%, 12% 3%, 12.5% 3.1%, 15% 4%, 17.7% 2.1%, 18% 2%, 19.5% 2.5%, 23% 3%, 28% 3%, 29% 3.5%, 31% 4%, 32% 5%, 34.5% 3.2%, 35% 3%, 36% 3.3%, 39% 5%, 48% 0, 50% 1%, 52.5% 1%, 53% 1.1%, 58% 5%, 60% 4.7%, 63.5% 3%, 64% 3.1%, 64.5% 3%, 65% 3.2%, 66% 3.1%, 69% 4%, 70% 4.3%, 73% 5%, 75% 4.6%, 77% 4.3%, 77.6% 4.1%, 78% 4%, 79% 4.6%, 80% 5%, 80.5% 4.8%, 83% 3%, 85% 3.7%, 86% 3.5%, 87% 3.7%, 88% 3%, 93% 3.7%, 94% 2.7%, 95% 3%, 96% 2.9%, 100% 3.5%, 100% 100%, 98% 98%, 90% 100%, 88% 98%, 83% 100%, 80% 99%, 78% 100%, 75% 97%, 69% 99%, 62% 100%, 60% 100%, 53% 95%, 51% 95%, 49% 93%, 39% 100%, 35% 97%, 32% 96%, 28% 98%, 18% 98%, 15% 99%, 12% 98%, 8% 97%, 0 100%, 0 100%);
  /*
        &--small {
            clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 97% 67%, 93% 83%, 89% 65%, 82% 77%, 74% 73%, 67% 89%, 64% 93%, 61% 83%, 56% 72%, 52% 52%, 46% 68%, 42% 80%, 38% 69%, 32% 44%, 28% 50%, 24% 76%, 19% 66%, 13% 69%, 9% 44%, 6% 58%, 3% 65%, 0% 79%);
        }
        */ }
  .divider__mountain--top {
    clip-path: polygon(0 3.5%, 2% 3%, 7.5% 3.5%, 8% 3.7%, 8.5% 4%, 11.5% 3.1%, 12% 3%, 12.5% 3.1%, 15% 4%, 17.7% 2.1%, 18% 2%, 19.5% 2.5%, 23% 3%, 28% 3%, 29% 3.5%, 31% 4%, 32% 5%, 34.5% 3.2%, 35% 3%, 36% 3.3%, 39% 5%, 48% 0, 50% 1%, 52.5% 1%, 53% 1.1%, 58% 5%, 60% 4.7%, 63.5% 3%, 64% 3.1%, 64.5% 3%, 65% 3.2%, 66% 3.1%, 69% 4%, 70% 4.3%, 73% 5%, 75% 4.6%, 77% 4.3%, 77.6% 4.1%, 78% 4%, 79% 4.6%, 80% 5%, 80.5% 4.8%, 83% 3%, 85% 3.7%, 86% 3.5%, 87% 3.7%, 88% 3%, 93% 3.7%, 94% 2.7%, 95% 3%, 96% 2.9%, 100% 3.5%, 100% 100%, 0% 100%); }
  .divider__mountain--bottom {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 98% 98%, 90% 100%, 88% 98%, 83% 100%, 80% 99%, 78% 100%, 75% 97%, 69% 99%, 62% 100%, 60% 100%, 53% 95%, 51% 95%, 49% 93%, 39% 100%, 35% 97%, 32% 96%, 28% 98%, 18% 98%, 15% 99%, 12% 98%, 8% 97%, 0 100%, 0 100%); }

.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
  margin-top: -1rem; }
  .footer__logo {
    width: 4rem;
    height: 4rem;
    padding-left: .5rem; }
    .footer__logo img {
      max-width: 100%;
      max-height: 100%; }
    .footer__logo svg {
      width: inherit;
      height: inherit;
      fill: blanchedalmond; }
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: blanchedalmond; }

.nav {
  height: 4rem;
  color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  z-index: 10; }
  .nav__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .nav__menu-lang {
      display: flex;
      font-family: "Thasadith", sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
      margin-right: 1rem;
      color: #000; }
  .nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -.5rem; }
  .nav__btn {
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: blanchedalmond; }

.home {
  background-color: #000;
  /* Add this to media query for desktop view at a later date 
    display: grid;
    grid-template-columns:
        [full-start] minmax(5rem, 1fr) [center-start] repeat(
            10,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(5rem, 1fr) [full-end];

    &__overview {
        grid-column: full-start / full-end;
        background-color: aqua;
    }

    &__rooms {
        grid-column: full-start / col-end 5;
        background-color: blueviolet;
    }

    &__food {
        grid-column: col-start 6 / full-end;
    }
    */ }
  .home__overview {
    position: relative;
    width: 100%;
    height: min-content; }
    .home__overview-title {
      font-family: "Mrs Sheppards", cursive;
      font-size: 4.5rem;
      letter-spacing: .1rem;
      color: blanchedalmond;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: flicker-in 3s linear both;
      z-index: 10; }
    .home__overview-pagination {
      bottom: 3.5em; }
    .home__overview-page {
      background-color: blanchedalmond; }
      .home__overview-page.is-active {
        background-color: #000; }
  .home__about {
    font-family: "Thasadith", sans-serif;
    color: blanchedalmond;
    padding: 1.5rem 1rem 2rem 1rem; }
    .home__about-title {
      font-size: 2rem;
      font-weight: 700;
      text-align: center; }
    .home__about-info {
      font-size: 1.5rem;
      font-weight: 300;
      text-align: justify; }
  .home__section {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .home__section-title {
      font-family: "Mrs Sheppards", cursive;
      font-size: 5rem;
      font-weight: 600;
      color: #000;
      letter-spacing: .5rem; }
  .home__rooms {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/img/casa_coji_main.jpeg") no-repeat;
    background-size: cover; }
  .home__food {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/img/food_placeholder.png") no-repeat;
    background-size: cover; }
  .home__camping {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/img/camping_placeholder.jpg") no-repeat;
    background-size: cover; }
  .home__activities {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/img/activities_placeholder.jpg") no-repeat center;
    background-size: cover; }
  .home__courses {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/img/courses_placeholder.jpg") no-repeat;
    background-size: cover;
    background-position-x: -3rem; }
  .home__equipment {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/img/equipment_placeholder.jpg") no-repeat;
    background-size: cover; }
  .home__merge {
    height: 2rem; }
