.btn {
    font-family: $font-buttons;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: $color-black;
    color: $color-white;
    border-radius: 2rem;
    border: 1px solid $color-white;

    @include respond(mobile-med) {
        font-size: 1.2rem;
        padding: .7rem 1.5rem;
    }

    @include respond(tab-land) {
        font-size: 2rem;
    }

    &:focus {
        outline: none;
    }
}