#nav-closed {
    width: auto;
    height: 4rem;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 10;
}

#nav-open {
    opacity: 0;
    display: block;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
    transform: translateY(-100%);
    transition: transform .6s ease-out, opacity .3s linear;

    &.is-open {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav {
    &__logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-family: $font-headings;
        font-size: 2.5rem;
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-lang {
            display: flex;
            font-family: $font-buttons;
            font-size: 1.4rem;
            font-weight: bold;
            margin-right: 1rem;
            color: $color-black;
        }
    }
    
    &__icon {
        width: 2.5rem;
        height: 2.5rem; 
        margin-top: -.5rem;

        &--large {
            width: 100%;
            background-color: $color-white;

            & img {
                @include imgMax;
            }
        }

        &--open {
            fill: $color-white;
        }
    }

    &__btn {
        width: 3.5rem;
        height: 3.5rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $color-white;
        transition: transform .3s .7s linear;

        &.is-open {
            background-color: $color-black;
            transform: rotate(180deg);
        }
    }

    &__hide {
        visibility: hidden;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__list {
        background-color: $color-black;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.5rem 5rem 4rem 6rem;
        margin-top: -.5rem;

        &-item {
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            color: $color-white;
            padding: .7rem .5rem;

            &--contact {
                display: flex;
                flex-direction: column;

                &-details {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &--whatsapp,
            &--email {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }
        }
    }

    &__menu-icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        margin-right: 1rem;

        &--contact {
            align-self: flex-start;
        }
    }
}