// COLOURS
$color-black: #000;
$color-white: blanchedalmond;

// FONT VARIABLES
$font-headings: 'Mrs Sheppards', cursive;
$font-primary: sans-serif;
$font-buttons: 'Thasadith', sans-serif;

// FONT SIZE
$default-font-size: 1.6rem;
